{extend name='public/base'/}

{block name='title'}关于我{/block}
<!-- /PRELOADER -->
{block name='main'}
<!-- NAVIGATION BUTTON -->
<div class="navigation-button">
    <a href="{:url('/')}">
        <p><i class="fa fa-close" aria-hidden="true"></i></p>
    </a>
</div>
<!-- /NAVIGATION BUTTON -->

<!-- ABOUT -->
<div class="about">
    <!-- CONTAINER FLUID -->
    <div class="container-fluid">
        <!-- <img src="/static/home/assets/img/logo.png" class="img-responsive" alt="logo" /> -->

        <img src="/static/index/img/about/me.jpg" class="img-responsive" alt="person" />

        <div>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Integer et
                volutpat nibh.
            </h3>

            <p style="font-size: 1.45em;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et
                volutpat nibh. Ut posuere justo et tortor sollicitudin posuere. Nunc
                finibus, massa ac volutpat pulvinar, urna justo dapibus ex, eu aliquam
                nisi eros lobortis nulla. Cras semper eu arcu non molestie. Morbi sit
                amet bibendum quam, eu auctor erat. Sed vestibulum eros nulla, mattis
                placerat velit varius ac. Maecenas elit augue, sollicitudin nec
                finibus vitae, iaculis convallis risus. Sed rutrum mi eros, vitae
                ultricies leo fermentum sit amet. Suspendisse sit amet elit malesuada,
                luctus velit suscipit, posuere mauris. Donec et malesuada velit.
                Aliquam erat volutpat.
            </p>

            <p style="font-size: 1.45em;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et
                volutpat nibh. Ut posuere justo et tortor sollicitudin posuere. Nunc
                finibus, massa ac volutpat pulvinar, urna justo dapibus ex, eu aliquam
                nisi eros lobortis nulla. Cras semper eu arcu non molestie. Morbi sit
                amet bibendum quam, eu auctor erat. Sed vestibulum eros nulla, mattis
                placerat velit varius ac. Maecenas elit augue, sollicitudin nec
                finibus vitae, iaculis convallis risus. Sed rutrum mi eros, vitae
                ultricies leo fermentum sit amet. Suspendisse sit amet elit malesuada,
                luctus velit suscipit, posuere mauris. Donec et malesuada velit.
                Aliquam erat volutpat.
            </p>
        </div>


        <p class="contact">
            Get in touch with me via: <span>your@mail.com</span>
        </p>
    </div>
    <!-- /CONTAINER FLUID -->
</div>
<!-- /ABOUT -->
{/block}