{extend name='public/base'/}
{block name="main"}
<!-- NAVIGATION BUTTON -->
<div class="navigation-button">
    <a href="{:surl('index/about')}">
        <p><i class="fa fa-info" aria-hidden="true"></i></p>
    </a>
</div>
<!-- /NAVIGATION BUTTON -->

<!-- HERO -->
<div class="hero">
    <!-- FRONT CONTENT -->
    <div class="front-content">
        <!-- <img src="/static/index/img/logo.png" class="img-responsive logo" alt="logo"> -->
        <h1>
            Hi! I’m <span>Qiaojin Lee</span>.<br />I’m a Photgrapher based<br />in
            China.
        </h1>
    </div>
    <!-- /FRONT CONTENT -->
</div>
<!-- /HERO -->

<!-- PORTFOLIO -->
<div class="portfolio">
    <!-- ITEM -->
    {volist name='photos' id='vo'}
    <a class="item border" href="/uploads/{$vo.pic}">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <div class="item-cover" style="background-image: url(/uploads/{$vo.pic})"></div>
    </a>
    {/volist}
    <!-- /ITEM -->
</div>
<!-- /PORTFOLIO -->
{/block}